:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: top 0.2s ease-in-out;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-surface);
  color: var(--color-on-surface);
  padding: {
    left: 16px;
    top: 16px;
    right: 16px;
    bottom: 8px;
  }
}

menu {
  padding: 0 16px;
  height: 0;
  background-color: var(--color-surface);
  list-style: none;
  overflow: hidden;
  transition: height 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &.show {
    height: calc(47px + 42px * 4 + 32px * 4); // margin first li + li height + gap
    border-bottom: solid 1px var(--color-primary);
  }

  li {
    color: var(--color-on-surface-variant);

    &:first-child {
      margin-top: 47px;
    }

    a {
      text-decoration: none;
      color: inherit;

      &.active {
        color: var(--color-on-surface);
      }

      span {
        color: var(--color-primary);
      }
    }
  }
}
