<header>
  <ed-logo></ed-logo>
  Work in progress
  <ed-burger-menu #burgerMenu></ed-burger-menu>
</header>

<menu [ngClass]="{ show: burgerMenu.burgerOpen }">
  <li class="typography--headline4">
    <a
      routerLink=""
      fragment="home"
      (click)="burgerMenu.toggleBurger()"
      routerLinkActive="active"
      ><span>#</span>home</a
    >
  </li>
  <li class="typography--headline4">
    <a
      routerLink=""
      fragment="works"
      (click)="burgerMenu.toggleBurger()"
      routerLinkActive="active"
      ><span>#</span>works</a
    >
  </li>
  <li class="typography--headline4">
    <a
      routerLink=""
      fragment="about-me"
      (click)="burgerMenu.toggleBurger()"
      routerLinkActive="active"
      ><span>#</span>about-me</a
    >
  </li>
  <li class="typography--headline4">
    <a
      routerLink=""
      fragment="contacts"
      (click)="burgerMenu.toggleBurger()"
      routerLinkActive="active"
      ><span>#</span>contacts</a
    >
  </li>
</menu>
