<ed-title
  prefix="#"
  title="about-me"
></ed-title>

<article class="description">
  <p>Hello, I’m Edwar!</p>
  <p>
    I'm a developer who started in this industry because of my curiosity about
    how things work. My curiosity carried me to the computer world. Now I'm a
    happy developer who loves how dynamic the world of development is.
  </p>
  <p>
    I'm always looking to learn new things and improving the way I work, meeting
    new people on the way, learning from them and sharing my knowledge with
    them.
  </p>
  <p>
    I consider myself a fullstack web developer, who is mainly focused on
    front-end . I'd like to mention that I love to work in the terminal. I'm a
    Vim lover.
  </p>
  <!-- TODO: add about-me page -->
  <!-- <button edButton btnStyle="stroked">Read more -></button> -->
</article>

<figure>
  <div class="img-wrapper">
    <img src="assets/image/profile-2.webp" />
    <div class="img-wrapper__line"></div>
  </div>
  <ed-figure-matrix
    [rows]="5"
    [columns]="5"
  ></ed-figure-matrix>
  <ed-figure-matrix
    [rows]="4"
    [columns]="5"
  ></ed-figure-matrix>
</figure>
