<ed-title prefix="#" title="about-me"></ed-title>

<article class="description">
  <p>Hello, i’m Edwar!</p>
  <p>
    I’m a self-taught front-end developer based in Kyiv, Ukraine. I can develop
    responsive websites from scratch and raise them into modern user-friendly
    web experiences.
  </p>
  <p>
    Transforming my creativity and knowledge into a websites has been my passion
    for over a year. I have been helping various clients to establish their
    presence online. I always strive to learn about the newest technologies and
    frameworks.
  </p>
  <button edButton btnStyle="stroked">Read more -></button>
</article>

<figure>
  <div class="img-wrapper">
    <img src="assets/image/profile-2.webp" />
    <div class="img-wrapper__line"></div>
  </div>
  <ed-figure-matrix [rows]="5" [columns]="5"></ed-figure-matrix>
  <ed-figure-matrix [rows]="4" [columns]="5"></ed-figure-matrix>
</figure>
