:host {
  display: grid;
  row-gap: 24px;

  & > p:nth-child(2) {
    color: var(--color-on-surface-variant);
  }
}

.highlight {
  color: var(--color-primary);
}

.profile-img {
  justify-self: center;
  width: 340px;
  position: relative;
  display: grid;

  ed-logo-icon {
    position: absolute;
    top: 80px;
    z-index: -1;
    width: 104px;
    height: 104px;
    color: var(--color-primary);
  }

  .image {
    height: 380px;
    width: auto;
    justify-self: center;
  }

  ed-figure-matrix {
    position: absolute;
    bottom: 100px;
    right: 0;
  }

  .status {
    border: 1px solid var(--color-on-surface-variant);
    padding: 8px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 8px;

    .indicator {
      width: 16px;
      height: 16px;
      background-color: var(--color-primary);
    }

    span {
      color: var(--color-on-surface-variant);
      white-space: nowrap;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      ed-icon {
        height: 16px;
      }
    }
  }
}

.quote {
  display: grid;
  .quote-left {
    position: absolute;
    height: 20px;
    background-color: var(--color-surface);
    top: -10px;
    left: 10px;
  }
  .quote-right {
    position: absolute;
    height: 20px;
    background-color: var(--color-surface);
    bottom: -10px;
    right: 10px;
  }
  div {
    &:nth-of-type(1) {
      position: relative;
      border: 1px solid var(--color-on-surface-variant);
      padding: 32px;
    }
    &:nth-of-type(2) {
      justify-self: flex-end;
      span {
        display: inline-block;
        padding: 16px;
        border-width: 0 1px 1px 1px;
        border-color: var(--color-on-surface-variant);
        border-style: solid;
      }
    }
  }
}
