<img *ngIf="imgSrc" class="thumbnail" [src]="imgSrc" alt="thumbnail" />

<p class="tags" *ngIf="tags.length > 0">{{ tags.join(" ") }}</p>

<p class="alt-title" *ngIf="altTitle">{{ altTitle }}</p>

<div class="content">
  <h5 class="typography--headline5" *ngIf="title">{{ title }}</h5>

  <p class="content__description">{{ description }}</p>

  <div class="content__actions" *ngIf="actions.length > 0">
    <button edButton btnStyle="stroked" *ngFor="let action of actions">
      {{ action.label }}
    </button>
  </div>
</div>
