<p class="typography--headline4">
  Edwar is a <span class="highlight">web designer</span> and
  <span class="highlight">front-end developer</span>
</p>

<p>He crafts resposive websites where technologies meet creativity</p>

<figure class="profile-img">
  <ed-logo></ed-logo>

  <img class="image" src="assets/image/profile.png" alt="profile" />

  <img class="dots" src="assets/image/dots-5x5.png" alt="dots-5x5">

  <article class="status">
    <div class="indicator"></div>

    <div>
      <p>Currently working on</p>
      <p>Portfolio</p>
    </div>
  </article>
</figure>
