.description {
  color: var(--color-on-surface-variant);
}

.container {
  display: grid;
  row-gap: 48px;
}

.contact-info {
  border: 1px solid var(--color-primary);
  padding: 16px;
  display: grid;
  row-gap: 16px;
  &__methods {
    display: grid;
    row-gap: 8px;
    .method {
      display: flex;
      align-items: center;
      // flex-flow: row wrap;
      gap: 8px;
      color: var(--color-on-surface-variant);
      a {
        word-break: break-all;
      }
    }
  }
}

.ed-button {
  color: var(--color-on-surface-variant);
}
