<ed-title
  prefix="#"
  title="contacts"
></ed-title>

<div class="container">
  <article class="description">
    By now I’m interested in part-time opportunities. However, if you have other
    request or question, don’t hesitate to contact me
  </article>

  <article class="contact-info">
    <p>Message me here</p>
    <div class="contact-info__methods">
      <p class="method">
        <ed-icon name="Discord"></ed-icon>
        <a
          edButton
          href="https://discord.com/channels/302176846378696715"
          target="_blank"
          rel="noopener noreferrer"
        >
          not_edwar
        </a>
      </p>
      <p class="method">
        <ed-icon name="Envelope"></ed-icon>
        <a
          edButton
          href="mailto:edwar_martinez_vale@icloud.com"
        >
          edwar_martinez_vale@icloud.com
        </a>
      </p>
    </div>
  </article>
</div>
