:host {
  margin-top: 145px;
  border-top: 1px solid var(--color-on-surface-variant);
  display: grid;
  row-gap: 48px;
  padding: 32px;
}

.info {
  display: grid;
  row-gap: 32px;
}

.contact-info {
  display: grid;
  row-gap: 16px;
  p:first-child {
    display: flex;
    align-items: center;
    gap: 16px;
    span {
      color: var(--color-on-surface-variant);
      word-break: break-all;
    }
  }
}

.media {
  display: grid;
  row-gap: 16px;
  &__icons {
    display: flex;
    column-gap: 8px;
    color: var(--color-on-surface-variant);
  }
}

.copyright {
  text-align: center;
}
