<section class="info">
  <article class="contact-info">
    <p>
      <ed-logo [boldLabel]="false"></ed-logo>
      <span>edwar_martinez_vale@icloud.com</span>
    </p>
    <p>Web designer and front-end developer</p>
  </article>
  <article class="media">
    <p class="typography--headline5">Media</p>
    <div class="media__icons">
      <a
        edButton
        btnStyle="fab"
        href="https://github.com/edwarmv"
        target="_blank"
        rel="noopener noreferrer"
      >
        <ed-icon name="Github"></ed-icon>
      </a>
      <a
        edButton
        btnStyle="fab"
        href="https://www.linkedin.com/in/edwar-martinez-vale-605291224"
        target="_blank"
        rel="noopener noreferrer"
      >
        <ed-icon name="LinkedinSquare"></ed-icon>
      </a>
    </div>
  </article>
</section>

<article class="copyright">
  <p>Thanks to Elias for the design</p>
  <p>
    <a
      edButton
      href="https://elias-dev.ml/"
      target="_blank"
      rel="noopener noreferrer"
      >Visit him at his website <ed-icon name="Link"
    /></a>
  </p>
</article>
